{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
	ul.nav {
	padding-left: 0px;
	background-color: white;
	text-align: center;
	}
	ul.nav > li {
	display: inline-block;
	padding: 10px 20px;
	}
	ul.nav > li:hover {
	/* background-color: #2779BF; */
	background-color: white;
	}
	ul.nav > li > a {
	/* color: white; */
	text-decoration: none;
	}


</style>

<style type="text/css">
	img{
		width:850px;
	}
</style>

<main class="content" style="background-color: #bde8e8;">

	<div class="container">
		<h1 class="h3 mb-3"><strong>Project Mission and Vision</h1>
		<div class="row row-cols-2">
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Problem</h1>
						</div>
					</div>
					<h4>
						<P>
                            The booming e-sports and video game industries, along with technology advancements, have contributed to the ongoing growth of the live-streaming industry. Twitch's audience grew from 660 million in 2020 to 800 million in 2021, Twitch reported that they reached 900 million users, with projections suggesting they will hit a billion in 2023 and make a mark by reaching 1.4 billion in 2025. Twitch made an estimated $2.8 billion in revenue in 2022.   Twitch has an average of 2.58 million concurrent viewers, and 7.6 million Twitch users stream on the platform once a month. 22.4 billion hours of content was consumed on the platform in 2022.
						</P><BR>
						<P>
                            But emerging content creators/streamers on Twitch face challenges in gaining visibility and success on the platform when competing with larger channels that have dedicated teams and managers behind them. To level the playing field for these creators, we aim to build an analytics board that provides insights and data-driven recommendations to help them improve their content, grow their audience, and increase their revenue. By leveraging the power of machine learning algorithms and data analysis, we aim to empower emerging creators to succeed on Twitch and contribute to the growth of the platform's community and revenue.
						</P>
						<BR><BR><BR>
					</h4>
				</div>
			</div>
		  </div>
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Mission</h1>
						</div>
					</div>
					<h4>
						<P>
                            To solve this problem, we are building an analytics board for streamers that will provide emerging creators with insights and data-driven recommendations to improve their content, grow their audience, and increase their revenue. By leveling the playing field for emerging creators, your project aims to empower them to compete more effectively with larger channels, achieve success on the platform, and ultimately contribute to the growth of Twitch's community and revenue.
                        </P><BR>
						<P>
						</P><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>							
					</h4>
				</div>
			</div>			
		  </div>
		</div>
	</div>

</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
<!-- script to set display property -->

<!-- script to set display property
<script>
	// Function to increase image size
	function enlargeImg(img) {
		img.style.transform = "scale(1.5)";
		img.style.transition =
		  "transform 0.25s ease";
	}
</script> -->





{% block javascripts %}{% endblock javascripts %}
