{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
	ul.nav {
	padding-left: 0px;
	background-color: white;
	text-align: center;
	}
	ul.nav > li {
	display: inline-block;
	padding: 10px 20px;
	}
	ul.nav > li:hover {
	/* background-color: #2779BF; */
	background-color: white;
	}
	ul.nav > li > a {
	/* color: white; */
	text-decoration: none;
	}


</style>

<main class="content" style="background-color: #bde8e8;">
	<div class="container-fluid p-0" style="background-color: #ccf3f3;">

		<h1 class="h3 mb-3" style="font-size: 1.5125rem;"><strong>Meet Our Team</h1>

		<div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex" style="width: 100vw;">
				<div class="w-100">
					<div class="row">
						<div class="col-sm-6" style="display: block ruby;width: 34%;">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0" style="display: flex;">
											<!-- <h1 class="card-title"> --> 
												<h1 class="mt-1 mb-3">Akanksha Rawat</h1>
										</div>
										<div class="col-auto">
											<div class="stat text-primary">
												<!-- <i class="align-middle" data-feather="truck">
												</i> -->
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/AkankshaProfilePhoto.jpeg">
												<a href="https://github.com/akanksha0911">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://www.linkedin.com/in/akanksha-rawat9/">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>
											</div>
										</div>
									</div>
									<h4>
										<P>
											Akanksha Rawat, Master's student at San Jose State University, majoring in Computer Software Engineering with a specialization in Data Science. With a passion for both software engineering and data, Akanksha has amassed a wealth of experience in her field. She spent three years working as a Software Engineer at IBM, honing her technical skills and gaining invaluable industry insights. After that, she transitioned to a role as a Business Data Analyst at Shell, where she spent four years leveraging her technical expertise to inform business decisions.
										</P><br><br>
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Karishma Kuria</h1>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<!-- <i class="align-middle" data-feather="truck">
												</i> -->
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/karishma_pic.jpeg">
												<a href="https://github.com/Karishma-Kuria">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://www.linkedin.com/in/karishma-kuria/">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>												
											</div>
										</div>
									</div>
									<h4>
                                        Karishma, Master's student at San Jose State University, majoring in Computer Software Engineering with a specialization in Data Science.Karishma is Software Developer with 6 years rich experience in designing and developing end-to-end enterprise applications. Expertise in Web development using Python, Kubernetes, Docker, Web services, REST and JavaScript and Vue.js as the Front-end, SQL Server as Back-ends. Rich experienced in requirement gathering, understanding client’s requirement and delivering quality work within timelines. Good Technical Skills and Problem-solving techniques.<br><br>&nbsp;
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Nisha Devadiga </h1>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/NishaPic.jpeg">
												<a href="https://github.com/NishaMDev">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">
												</a>
												<a href="https://www.linkedin.com/in/nishadevadiga8/">
													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">
												</a>
											</div>
										</div>
									</div>
									<h4>
										<P>
                                            Nisha, Master's student at San Jose State University, majoring in Computer Software Engineering with a specialization in Data Science.Nisha is a Software Engineer having over 10 years of experience in design, development, and deployment of enterprise applications. Demonstrated history of contributing towards company’s growth by providing innovative solutions to real world problems using cutting edge technologies.
										</P><br>
									</h4>
									<!-- <div class="mb-0">
										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>
										<span class="text-muted">Since last week</span>
									</div> -->
								</div>
							</div>

						</div>
<!--						<div class="col-sm-6">-->
<!--							<div class="card">-->
<!--								<div class="card-body">-->
<!--									<div class="row">-->
<!--										<div class="col mt-0">-->
<!--											&lt;!&ndash; <h1 class="card-title"> &ndash;&gt; <h1 class="mt-1 mb-3">Nisha Devadiga </h1>-->
<!--										</div>-->

<!--										<div class="col-auto">-->
<!--											<div class="stat text-primary">-->
<!--												<img class="rounded mr-2 mb-2" style="max-width: 50%;max-height: 50%;"src="/static/assets/img/AkankshaProfilePhoto.jpeg">-->
<!--												<a href="https://github.com/vbeohar">-->
<!--													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/head-silhouette-logo-17.png">-->
<!--												</a>-->
<!--												<a href="https://www.linkedin.com/in/beohar/">-->
<!--													<img class="rounded mr-2 mb-2" style="max-width: 10%;max-height: 10%;"src="/static/Linkedin-Download-PNG.png">-->
<!--												</a>												-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--									<h4>-->
<!--										<P>-->
<!--											Nisha is a Software Engineer having over 10 years of experience in design, development, and deployment of enterprise applications. Demonstrated history of contributing towards company’s growth by providing innovative solutions to real world problems using cutting edge technologies.-->
<!--										</P><br>-->
<!--									</h4>-->
<!--									&lt;!&ndash; <div class="mb-0">-->
<!--										<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65% </span>-->
<!--										<span class="text-muted">Since last week</span>-->
<!--									</div> &ndash;&gt;-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>


		</div>

	</div>
</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
