{% extends "layouts/base.html" %}

{% block title %} UI Cards {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
	ul.nav {
	padding-left: 0px;
	background-color: white;
	text-align: center;
	}
	ul.nav > li {
	display: inline-block;
	padding: 10px 20px;
	}
	ul.nav > li:hover {
	/* background-color: #2779BF; */
	background-color: white;
	}
	ul.nav > li > a {
	/* color: white; */
	text-decoration: none;
	}


</style>

<style type="text/css">
	img{
		width:850px;
	}
</style>



<script type="text/javascript">

	function imgEnlarge(e){
		e.style.width="800px";
		// if(e.style.width=="300px" || e.style.width=="" ){
		// 	e.style.width="800px";
		// }
		// else{
		// 	e.style.width="300px";
		// }

		// var imgLength = document.getElementsByTagName('img').length;

		// for(var i = 0; i<imgLength; i++){
		// 	if(document.getElementsByTagName('img')[i].id==  e.id){
		// 		continue;
		// 	}
		// 	document.getElementsByTagName('img')[i].style.width="300px";

		// }
	}
</script>

<main class="content" style="background-color: #bde8e8;">

	<div class="container">
		<h1 class="h3 mb-3"><strong>Our Technology Stack</h1>
		<div class="row row-cols-2">
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Architecture</h1>
						</div>
					</div>
					<h4>
						<P>
                            The streamers can choose a channel and date to see their channel’s analytics. Some audience insights and statistics are derived from the Twitch API (i.e., viewers, subs). While others are derived from models built into the systems' backend, like audience sentiment scores, topic recommendations, and chat summaries.
                        </P><BR>
						<P>
                            The main process starts from accumulating streaming and chat data from Twitch API. Once the data is collected, the next step would be performing data cleaning to remove unwanted noise and make data compatible for further modeling steps. In the third step, these chat messages will be used to perform sentiment analysis and generate sentiment scores using Fine-tuned OpenAI Chat GPT-3 model - text-davinci-003 model. Further a topic recommendation model will use the data aggregated to provide various topics recommendation to the streamer. These recommended topics can be used by the streamer to improve their streaming content.
						</P><BR><BR><BR>
					</h4>
				</div>
			</div>
		  </div>
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Sentiment Analysis Model</h1>
						</div>
						<!-- <div class="col-auto">
							<div class="stat text-primary">
								<img id="img1" class="rounded mr-2 mb-2" style="max-width: 100%;max-height: 100%;" src="/static/assets/img/BERT_model.png" onclick="enlargeImg(this)"/>
								<img id="img_0" onclick="imgEnlarge(this)" onclick="imgAssign()" src="/static/assets/img/BERT_model.png">
							</div>
						</div> -->
					</div>
					<h4>
						<P>
                            OPENAI's GPT-3 is a state-of-the-art natural language processing (NLP) model. OpenAI Completion is an advanced natural language processing (NLP) tool that can generate text based on a given prompt. For sentiment analysis, we used OpenAI Completion to generate text based on a given prompt, which was a sentence on the probability of sentiment. We set the model to "text-davinci-003," the temperature to 0, the max_tokens to 1000, the top_p to 1.0, the frequency_penalty to 0.0, and the presence_penalty to 0.0.
						</P><BR>
						<P>
                            Using these settings, OpenAI Completion was able to generate text based on the given prompt. This text was then used as input to a sentiment analysis model to detect the sentiment of the generated text. This enabled us to gain a better understanding of the sentiment of the given prompt and to improve the accuracy of our sentiment analysis model.
                        </P>
					</h4>
				</div>
			</div>			
		  </div>
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<h1 class="mt-1 mb-3">Chat Summarization</h1>
						</div>
					</div>
					<h4>
                        The chat which is stored in the database will be fed to the pretrained GPT-3 DaVinci  model which will provide the abstractive summary of the chat. This model is based on transformer architecture. The model takes prompt messages along with chat messages as the input and then generates output sentences from them.. This summary will help the subscriber or any user to get an understanding of the ongoing discussion. The UI will show the generated summary once the user clicks on the Chat Summary button.
                    </h4>
				</div>
			</div>			
		  </div>
		  <div class="col">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col mt-0">
							<!-- <h1 class="card-title"> --> <h1 class="mt-1 mb-3">Content Recommendation Exploratory Tool</h1>
						</div>
					</div>
					<h4>
						<P>To build the Topic Recommendation Engine, After pulling chat log data from Twitch's API, the data is run through our GPT-3 (Generative Pre-trained Transformer 3) DaVinci model to provide top 20 topic recommendations and stored in a MySQL/SQLite database. From there it's fed into the dashboard in the UI respectively
						</P>
						<BR><BR><BR><BR><BR>
					</h4>
				</div>
			</div>			
		  </div>
		</div>
	  </div>


	  <div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h1 class="mt-1 mb-3"> Project Pipeline</h1>
			</div>
			<div class="card-body py-3">
				<img class="rounded mr-2 mb-2" src="/static/assets/img/ProjectArchDiagram.png"/>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h1 class="mt-1 mb-3">Database Model</h1>
			</div>
			<div class="card-body py-3">
				<img class="rounded mr-2 mb-2"  style="width: 700px;" src="/static/assets/img/DatabaseModel.png"/>
			</div>
		</div>
	</div>	
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h1 class="mt-1 mb-3">Project Implementation Overview</h1>
			</div>
			<div class="card-body py-3">
				<img class="rounded mr-2 mb-2"  style="width: 900px;" src="/static/assets/img/overviewImplementation.png"/>
			</div>
		</div>
	</div>	
	<div class="col-sm-12">
		<div class="card">
			<div class="card-header">
				<h1 class="mt-1 mb-3">Exploratory Recommendation Tool</h1>
			</div>
			<div class="card-body py-3">
				<img class="rounded mr-2 mb-2"  style="width: 900px;" src="/static/assets/img/rec_slide.png"/>
			</div>
		</div>
	</div>
</main>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
<!-- script to set display property -->

<!-- script to set display property
<script>
	// Function to increase image size
	function enlargeImg(img) {
		img.style.transform = "scale(1.5)";
		img.style.transition =
		  "transform 0.25s ease";
	}
</script> -->





{% block javascripts %}{% endblock javascripts %}
